* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

html {
  font-size: 16px; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.b-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 60px; }
  .b-header .b-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.b-header__menu--circle {
  display: inline-block;
  margin-right: 19px;
  width: 13px;
  height: 13px;
  border: 2px solid #000;
  border-radius: 12px; }

.b-header__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .b-header__top-block .b-header__logo {
    max-width: 176px;
    max-height: 36px; }

.b-menu--burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 28px;
  background-color: #000;
  width: 56px;
  height: 56px;
  cursor: pointer; }
  .b-menu--burger .b-menu__item {
    width: 18px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 3px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.b-first {
  padding-top: 200px;
  position: relative;
  background-image: url(../img/top_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  height: 100vh; }
  .b-first__title {
    margin-top: -0.272727em;
    font-family: "Roboto", sans-serif;
    font-size: 9.375rem;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: #2C2D30; }
  .b-first__img {
    position: absolute;
    max-height: 74.70vh;
    bottom: 3.4375vw;
    left: 29.5vw; }
  .b-first__btn {
    position: relative;
    z-index: 1;
    font-family: "Poppins", sans-serif;
    font-size: 1.625rem;
    line-height: 2em;
    font-weight: bold;
    text-transform: uppercase;
    height: 58px;
    width: 290px;
    background-color: #82F4D3;
    text-decoration: none;
    color: #323237;
    margin-left: 2.85em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .b-first__btn a {
      text-decoration: none;
      color: #323237; }
  .b-first__btn:hover {
    color: #fff;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }
  .b-first__btn:before {
    height: 58px;
    width: 290px;
    content: '';
    background-color: transparent;
    border: 2px solid #82F4D3;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px; }
  .b-first__article {
    width: 340px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    bottom: 25vh;
    left: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    color: #9B9B9B;
    letter-spacing: 0.05em;
    line-height: 1.785em; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: fixed;
  right: 43px;
  bottom: 63px;
  z-index: 2; }
  .social_link {
    margin-bottom: 30px;
    width: 52px;
    height: 52px;
    background-color: black;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .social_link:last-of-type {
    margin-bottom: 0; }
  .social svg {
    fill: #fff; }
  .social_link:hover {
    background-color: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .social_link:hover svg {
    fill: #000;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .social .twitter_sc {
    width: 24px;
    height: 20px; }
  .social .facebook_sc {
    width: 13px;
    height: 26px; }
  .social .google_sc {
    width: 24px;
    height: 26px; }
  .social .pinterest_sc {
    width: 23px;
    height: 24px; }

.b-second {
  padding-top: 105px;
  position: relative; }
  .b-second__img {
    border: 8px solid #fff;
    max-width: 689px;
    max-height: 589px;
    margin-left: -116px;
    -webkit-box-shadow: 0px 0px 20px 7px #f3f1f1;
    box-shadow: 0px 0px 20px 7px #f3f1f1; }
    .b-second__img:hover {
      -webkit-box-shadow: 0px 0px 20px 20px #a6e4d52b;
      box-shadow: 0px 0px 20px 20px #a6e4d52b;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
  .b-second__info {
    position: relative;
    margin-left: -60px; }
  .b-second__title {
    margin-bottom: 0.666em;
    font-family: 'Cormorant+Garamond', serif;
    font-size: 2.8125rem;
    letter-spacing: 0.010em;
    color: #000;
    font-weight: 400; }
  .b-second__text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9375rem;
    color: #888888;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 0.010em;
    margin-bottom: 2.666em; }
  .b-second__text--dif {
    letter-spacing: 0.020em; }
  .b-second__btn {
    text-align: -webkit-right; }

.view-btn {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  line-height: 2em;
  font-weight: normal;
  text-transform: uppercase;
  height: 60px;
  width: 145px;
  background-color: #82F4D3;
  font-weight: bold;
  text-decoration: none;
  color: #323237;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  .view-btn a {
    text-decoration: none; }
  .view-btn:hover {
    color: #fff;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out; }

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.view-btn:before {
  height: 60px;
  width: 145px;
  content: '';
  background-color: transparent;
  border: 2px solid #82F4D3;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px; }

.b-third {
  margin-top: 84px; }
  .b-third .b-second__title {
    margin-bottom: 1.222em; }
  .b-third__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.info-card__img {
  position: relative;
  margin-bottom: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 250px;
  min-height: 305px;
  background-color: #F1F0F0;
  border: 13px solid transparent; }
  .info-card__img .b-third__img {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.info-card__img:hover {
  background: #82F4D3;
  border: 13px solid #F1F0F0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.info-card__img:hover .b-third__img {
  background: #82F4D3;
  opacity: .13;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.cover-btn {
  font-family: "Popins", sans-serif;
  letter-spacing: 0.010em;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
  position: absolute;
  color: #fff;
  padding: 1em 1.66666em;
  width: 65%;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 1px;
  font-size: 0.9375rem;
  text-decoration: none; }

.info-card__img:hover .cover-btn {
  display: block; }

.cover-btn:hover {
  background-color: #fff;
  color: #82F4D3;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.info-card__details {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'Popins', sans-serif; }

.info-card__name {
  width: 50%;
  font-size: 0.9375rem;
  letter-spacing: 0.010em;
  color: #000; }

.info-card__type {
  width: 50%;
  font-size: 0.9375rem;
  letter-spacing: 0.010em;
  color: #BBBBBB; }

.info-card__price {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5625rem;
  letter-spacing: 0.01em;
  color: #999999; }

.info-card__price:hover {
  color: #82F4D3;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.b-fourth__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.b-fourth {
  padding-top: 130px;
  padding-bottom: 205px; }
  .b-fourth__img-block {
    position: relative; }
  .b-fourth__img {
    margin-left: 145px;
    border: 8px solid #fff;
    -webkit-box-shadow: 0px 0px 20px 0px #9d9d9d42;
    box-shadow: 0px 0px 20px 0px #9d9d9d42; }
  .b-fourth__img:hover {
    -webkit-box-shadow: 0px 0px 20px 20px #a6e4d52b;
    box-shadow: 0px 0px 20px 20px #a6e4d52b;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.b-fourth__img-block:after {
  position: absolute;
  content: '';
  background: -webkit-linear-gradient(top, #ccf8ec 0%, #90e9cf 100%);
  width: 295px;
  height: 390px;
  top: 240px;
  right: -105px;
  z-index: -1; }

.b-forth__btn {
  text-align: left; }

.b-fifth {
  background-color: #F8F8F8;
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: -webkit-center; }
  .b-fifth__b-text {
    max-width: 850px; }
  .b-fifth__text {
    margin-bottom: 1.6666em;
    position: relative; }
  .b-fifth__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Popins", sans-serif;
    letter-spacing: 0.010em; }
    .b-fifth__author--name {
      font-size: 1.125rem;
      color: #666666;
      text-decoration: none;
      margin-bottom: 0.27em; }
    .b-fifth__author--name:hover {
      color: #82F4D3;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .b-fifth__author--position {
      font-size: 0.9375rem;
      color: #72D6B9; }
  .b-fifth__slider--before, .b-fifth__slider--after {
    position: absolute;
    background-color: #C6C6C6;
    width: 114px;
    height: 1px; }
  .b-fifth__slider--before {
    left: -160px;
    top: 25%; }
  .b-fifth__slider--after {
    right: -10.6666em;
    top: 25%; }
  .b-fifth__slider--before:after {
    position: absolute;
    width: 36.7px;
    height: 1px;
    background-color: #C6C6C6;
    content: '';
    left: -2px;
    -webkit-transform: rotate(-31.1deg);
    -ms-transform: rotate(-31.1deg);
    transform: rotate(-31.1deg);
    top: -10px; }
  .b-fifth__slider--after:after {
    position: absolute;
    width: 36.7px;
    height: 1px;
    background-color: #C6C6C6;
    content: '';
    right: -2px;
    -webkit-transform: rotate(-31.3deg);
    -ms-transform: rotate(-31.3deg);
    transform: rotate(-31.3deg);
    top: 10px; }
  .b-fifth__slider--before:hover, .b-fifth__slider--before:hover:after, .b-fifth__slider--after:hover, .b-fifth__slider--after:hover:after {
    background-color: #82F4D3;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.b-sixth {
  padding-top: 95px;
  padding-bottom: 245px; }
  .b-sixth__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start; }
  .b-sixth__title {
    text-align: center;
    margin-bottom: 72px; }
  .b-sixth__img {
    margin-left: 80px;
    max-width: 427px;
    min-height: 460px;
    border: 8px solid #fff;
    -webkit-box-shadow: 0px 0px 20px 0px #9d9d9d42;
    box-shadow: 0px 0px 20px 0px #9d9d9d42; }
  .b-sixth__img:hover {
    -webkit-box-shadow: 0px 0px 20px 20px #a6e4d52b;
    box-shadow: 0px 0px 20px 20px #a6e4d52b;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  .b-sixth__b-img {
    position: relative; }
  .b-sixth__b-img:before {
    position: absolute;
    background-color: #fff;
    border: 11px solid #F9F9F9;
    width: 265px;
    height: 360px;
    top: -45px;
    left: 0;
    content: '';
    z-index: -1;
    border-radius: 20px; }
  .b-sixth__b-img:after {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    content: url(../img/nike.png);
    background: -webkit-linear-gradient(bottom left, #dffcf3 0%, #8feed3 100%);
    background: -o-linear-gradient(bottom left, #dffcf3 0%, #8feed3 100%);
    background: -webkit-gradient(linear, left bottom, right top, from(#dffcf3), to(#8feed3));
    background: linear-gradient(to top right, #dffcf3 0%, #8feed3 100%);
    width: 265px;
    height: 350px;
    bottom: -205px;
    right: -155px;
    z-index: -1; }
  .b-sixth__info {
    padding-left: 70px;
    padding-right: 45px;
    font-family: 'Popins', sans-serif; }
  .b-sixth__sub-title {
    font-size: 1.5625rem;
    color: #000;
    margin-bottom: 30px;
    margin-top: 10px;
    letter-spacing: 0.010em; }
  .b-sixth__text {
    margin-bottom: 4.5555em; }
  .b-sixth__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .b-sixth__slider--circle {
      margin-right: 16px;
      width: 15px;
      height: 15px;
      border-radius: 50%; }
    .b-sixth__slider--c-black {
      background-color: #232323; }
    .b-sixth__slider--c-blue {
      background-color: #A2F2DB; }
    .b-sixth__slider--c-grey {
      background-color: #E1E1E1; }
    .b-sixth__slider--dash {
      margin-left: 3px;
      margin-right: 16px;
      width: 45px;
      height: 1px;
      background-color: #7F7F7F; }
    .b-sixth__slider--circle-big {
      margin-right: 16px;
      width: 30px;
      height: 30px;
      border: 7px solid #97F0D6;
      border-radius: 50%; }
    .b-sixth__slider--counter {
      font-family: 'Popins', sans-serif;
      font-size: 1.25rem;
      color: #181818;
      font-weight: 600; }
      .b-sixth__slider--counter--dash {
        margin: 0 8px; }
    .b-sixth__slider--pointer {
      height: 3px;
      width: 12.8px;
      background-color: #181818; }
      .b-sixth__slider--pointer-left {
        position: relative;
        margin-right: 13px;
        margin-left: 25px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 3px; }
      .b-sixth__slider--pointer-left:before {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #181818;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        top: -5px;
        right: 6px;
        content: ''; }
      .b-sixth__slider--pointer-right {
        position: relative;
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
        top: -5px; }
      .b-sixth__slider--pointer-right:before {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #181818;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: -5px;
        right: 6px;
        content: ''; }
      .b-sixth__slider--pointer-left:hover, .b-sixth__slider--pointer-left:hover:before, .b-sixth__slider--pointer-right:hover, .b-sixth__slider--pointer-right:hover:before {
        background-color: #67E0BC;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }

.b-footer {
  padding-bottom: 25px; }
  .b-footer__hr {
    color: #DBDBDB;
    opacity: 0.28; }
  .b-footer__info {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .b-footer__logo {
    max-width: 176px;
    max-height: 36px; }
  .b-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .b-footer__menu--col1, .b-footer__menu--col2 {
    padding: 0;
    font-family: 'Popins', sans-serif;
    font-size: 0.9375rem;
    line-height: 1.6666em;
    letter-spacing: 0.05em;
    list-style: none; }
    .b-footer__menu--col1 a:hover, .b-footer__menu--col2 a:hover {
      color: #82F4D3; }
  .b-footer__menu--col1 {
    margin-right: 105px; }
  .b-footer__item {
    text-decoration: none;
    color: #888888; }
  .b-footer__input {
    font-family: 'Popins', sans-serif;
    font-size: 0.9375rem;
    line-height: 1.6666em; }
    .b-footer__input--lable {
      margin-bottom: 30px;
      letter-spacing: 0.05em;
      color: #888888; }
    .b-footer__input--area {
      padding-left: 30px;
      width: 305px;
      height: 50px;
      border: none;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 20px 0px #9d9d9d52;
      box-shadow: 0px 0px 20px 0px #9d9d9d52;
      letter-spacing: 0.01em;
      color: #DDDDDD; }
    .b-footer__input--submit {
      width: 145px;
      height: 50px;
      background-color: #82F4D3;
      text-align: center;
      color: #000;
      letter-spacing: 0.01em;
      border: none;
      font-weight: 600;
      -webkit-box-shadow: 0px 0px 20px 0px #9d9d9d52;
      box-shadow: 0px 0px 20px 0px #9d9d9d52;
      cursor: pointer; }
    .b-footer__input--submit:hover {
      -webkit-box-shadow: 0px 0px 20px 0px #9d9d9d;
      box-shadow: 0px 0px 20px 0px #9d9d9d;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
  .b-footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-bottom: 55px; }
    .b-footer__link a {
      margin-right: 35px; }
  .b-footer__cont-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .b-footer__cont {
    margin-top: 25px;
    font-family: 'Popins', sans-serif;
    font-size: .9375rem;
    line-height: 1.7333em;
    letter-spacing: 0.015em;
    color: #A6A5A5;
    font-weight: 300;
    text-decoration: none; }
  .b-footer__cont:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #82F4D3; }

.b-footer svg {
  max-width: 25px;
  max-height: 26px; }

.b-footer__link svg {
  fill: #BBBBBB; }
  .b-footer__link svg:hover {
    fill: #82F4D3;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

@media (min-width: 1024px) {
  aside {
    z-index: 1; } }

/*# sourceMappingURL=style.css.map */